@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Mulish", sans-serif;
  background-color: #F6F5FF
  
}
.footer {
  background-color:#E1DFFD;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h6 {
  font-family: "Lobster Two", cursive;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: #7ca0fb;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #7ca0fb !important;
}

.react-simple-image-viewer__modal-content {
  padding-top: 60px !important;
}
.react-simple-image-viewer__close {
  margin-top: 3rem !important;
  z-index: 3;
}
.type {
  position: relative;
  
  font-weight: bold!important;
  
  letter-spacing: 2px!important;
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 80%);
  white-space: nowrap;
  animation: typewriter 2.5s steps(44) 1s 1 normal both,
    blinkTextCursor 750ms infinite;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 200px;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: hsl(0, 4%, 35%);
  }
  to {
    border-right-color: transparent;
  }
}
.content {
  height: 100vh;
}

.shine-effect {
  background: linear-gradient(to right, hsl(0, 0%, 30%) 0, hsl(0, 0%, 100%) 10%, hsl(0, 0%, 30%) 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 15s infinite linear;
}


@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 1100px;
  }
}
.splide__progress__bar {
  height: 3px;
  background: #f47272;
}